<h3 id="main-title" class="center-text"></h3>
<hr>
<center>

  <button id="community-btn" class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-globe"></span>
  </button>

  <button id="home-nav" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-home"></span>
  </button>



  <button id="show-me-projects" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-list"> My apps </span>
  </button>

  <button id="new-project" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-file"> New </span>
  </button>




  <button id="all-users" class="btn btn-success btn-lg hidden">
     <img src="/assets/glyphicons_043_group.png" />  Users
  </button>

  <button id="all-projects" class="btn btn-success btn-lg hidden">
    <img src="/assets/glyphicons_319_sort.png" />  Apps
  </button>

  <button id="all-polls" class="btn btn-success btn-lg hidden">
    <img src="/assets/glyphicons_029_notes_2.png" />  Polls
  </button>




</center>
<hr>


<div id="community-container" class="hidden community" ></div>



<!--     ---------------    PROJECT DIVS    ---------------
 -->


<div id="selected-project" class="hidden own">
  <p>Selected Project (inspecting as owner/visitor)</p>
  <h3></h3>
  <h4></h4>
  <hr>
  <button id="start-new-poll" class="hidden">Start a new poll</button>
  <button id="view-all-polls">View All Polls for this Project</button>
</div>

<div id="new-project-form" class="hidden own">
  <form>
    <h4>Creating A New Project</h4>
    <br>
    <input type="text" placeholder="project title" id="new-proj-title">
    <br>
    <input type="text" placeholder="project decription" id="new-proj-description">
    <br>
    <input type="radio" name="public_proj" value="public"> Public Project<br>
    <input type="radio" name="public_proj" value="private"> Visible only to Invitees
    <br>
    <input type="hidden" name="user_id" id="owner" value=<%= current_user.id %>>
    <hr>
    <button id="save-new-project-details" type="button" class="btn btn-primary">Save!</button>
    <button id="cancel-new-project" type="button" class="btn btn-default">Cancel</button>
  </form>
</div>



<div id="project-listing-div" class="hidden own">
  <p>All Projects (inspecting as ... detect if owner/visitor)</p>
  <table id="project-listing"></table>
</div>


<!--   ---------------  POLL DIVS    ---------------
 -->

<div id="selected-poll" class="hidden poll own">
  <h4></h4>
  <h5></h5>
  <button id="start-feedback" class="hidden">Give Feedback</button>

  <div id="poll-builder-buttons" class="hidden question">
    <button id="add-text-q">Add Text Question</button>
    <button id="add-vote-q">Add Vote Question (inactive)</button>
    <button id="add-url">Add Link (inactive)</button>
  </div>

</div>


<div id="new-poll-form" class="hidden poll own">
  <form>
    <h4>Creating A New Project</h4>
    <br>
    <input type="text" placeholder="poll title" id="new-poll-title">
    <br>
    <input type="text" placeholder="poll decription" id="new-poll-description">
  <!--   Poll Category
    <br>
    <input type="checkbox" name="category" value="App Experience">App Experience
    <input type="checkbox" name="category" value="Code Review">Code Review
    <input type="checkbox" name="category" value="Screen Design">Screen Design
    <input type="checkbox" name="category" value="Artworks">Artworks
 -->

    <hr>
    <button class="btn btn-primary" id="save-new-poll-details" type="button" >Save!</button>
    <button class="btn btn-default" id="cancel-new-poll" type="button" >Cancel</button>
  </form>
</div>



<div id="all-project-polls" class="hidden poll own">
<!--   <p>All Project Polls - inspecting as .... detect if owner/visitor</p>
 -->  <table></table>
</div>


<!-- ---------   QUESTION DIVS   ---------------
 -->
<!--

<div id="new-vote-q-form" class="hidden">
  <form>
    <input type="text" placeholder="project title" id="new-proj-title">
    <br>
    <input type="text" placeholder="project decription" id="new-proj-description">

    <button id="save-new-project-details" type="button" >Save!</button>
    <button id="cancel-new-project" type="button" >Cancel</button>
  </form>
</div>
 -->


<div id="new-text-q-form" class="hidden question own">
  <form>
    <input type="text" placeholder="enter question text" id="new-text-q">
    <br>
    <button class="btn btn-primary" id="save-new-text-q" type="button" >Add Text Question!</button>
    <button class="btn btn-default" id="cancel-new-ext-q" type="button" >Cancel</button>
  </form>
</div>



<div id="all-poll-questions" class="show-text-q hidden question own">
  <center>
    <form id="new-response">
      <table border="2" width="500"></table>
      <button class="btn btn-primary" id="save-resp"   type="button" >Submit Response!</button>
      <button class="btn btn-default" id="cancel-resp" type="button" >Cancel          </button>
    </form>
  </center>
</div>



<!--
<div id="new-link-form" class="hidden">
  <form>
    <input type="text" placeholder="project title" id="new-proj-title">
    <br>
    <input type="text" placeholder="project decription" id="new-proj-description">

    <button id="save-new-project-details" type="button" >Save!</button>
    <button id="cancel-new-project" type="button" >Cancel</button>
  </form>
</div> -->


<!-- ---------   RESPONSE DIVS   ---------------
 -->

<div class="hidden community">

</div>


