/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap/glyphicons';

.hidden {
  visibility: hidden;
 }

.center-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.poll {
  width:640px;
}

.question {
  width:640px;
}



#app-title {
  text-align: center;
  text-color: #1240ab;
  font-size: 25px;
/*  border:2px solid #1240ab;*/
}
#sub-title {
  text-align: center;
  text-color: #1240ab;
  font-size: 16px;
/*  border:2px solid #1240ab;*/
}

#loginout {
  text-align: center;
  font-size: 10px;
/*  border:2px solid #1240ab;*/
}

a:visited {
  color:#1240ab;
  text-decoration:none;
}
a:link {
  color:#1240ab;
  text-decoration:none;
}

.own  {
border:2px solid #1240ab;
padding:10px 40px;
background:#b2cdff;
width:640px;
border-radius:25px;
margin-left: auto;
margin-right: auto;
}

.community {
  border:2px solid #476655;
  background:#b2ffd6;
  padding:10px 40px;
  width:640px;
  border-radius:25px;
  margin-left: auto;
  margin-right: auto;
}

center {
  width:640px;
  border-radius:25px;
  margin-left: auto;
  margin-right: auto;

}

body {
  background-color:#ebf2fe;
}
